.about {
  max-width: 700px;
  margin: 0 auto;
  padding: 30px;

  background: rgba(0,0,0,0.25);
  border-radius: 14px;

  color: white;
}

.about h2 {
  margin-bottom: 12px;
}

.about p {
  line-height: 1.6;
  margin-bottom: 10px;
}
